nav{
    background-color: white;
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 0px;
    margin-top: 15px;
    
}

nav a{
    color: black!important;
    font-size:17px ;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: 'Averia Serif Libre';
   
}

