
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #c7eaff ;
}

.container form {
  padding: 5px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  border: 1px solid gray;
  margin: 0 auto;
  margin-top: 10px;
  
}
.container label {
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.container input[type="text"] {
  width: 100%;
  border: 1px solid rgb(206, 206, 225);
  padding: 10px 15px;
  font-size: 15px;
  text-transform: none;
  border-radius: 15px;
  margin-bottom: 20px;
}

.container button[type="submit"] {
  width: 100%;
  padding: 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}

.container button[type="submit"]:hover {
  background-color: #0056b3;
}

.container .inputBox img {
  height: 55px;
  margin-top: 30px;
  margin-bottom: 20px;
  filter: drop-shadow(0 0 1px #000);
}