.numbers{
    background-color: gray;
    padding: 25px 0px;
    max-width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    margin-top: 0px;
}

.numbers row{
    margin: 15px 0px ;
}
.numbers h2{
    font-size: 50px;
    font-weight: bold;
    margin: 10px 0px; 
    color: white;
    font-family: 'Averia Serif Libre';
    line-height: 50px;
}

.numbers h5{
    text-transform: uppercase;
    color:white;
    font-family: 'Averia Serif Libre';
    font-weight: bold;
    letter-spacing: 1px;  
    font-size: 15px; 
}

.pride{
    background-color: transparent;
    padding: 25px 0px;
    max-width: 100%;
    height: auto;
    overflow: hidden;
  
}

.pride img{
   max-width: 100%; 
   border-radius: 10px;
   margin-top: 50px;
   
}

.pride h2 , .ingredients h2{
    font-size: 30px;
    font-weight: bold;
    width: 80%;
    margin: 10px 0px; 
    color: #a82d49;
    font-family: 'Averia Serif Libre';
    line-height: 50px;
    padding-top: 50px;
}

.pride p  , .ingredients p{
    font-size: 18px;
    line-height: 28px;
    color:black;
    font-family: 'Averia Serif Libre';
    margin-top: 15px;
}

.pride button , .ingredients button{
    background-color: #a82d49;
    border: 1px solid white;
    box-sizing: border-box;
    width: 140px;
    height: 40px;
    text-align: center;
    margin-top:20px ;
    


}

.pride button a , .ingredients button a{
    display: block;
    color: white;
    font-family: 'Averia Serif Libre';
    text-decoration: none !important;
    text-decoration: none;
    font-weight: bold;

}

.pride button:hover a , 
.ingredients button:hover a{
    color: black;
    transition: .2s ease;
}

.pride button:hover, 
.ingredients button:hover{
    background-color: gray;
}



.ingredients ul{
    padding: 0px;

}

.ingredients ul li{
    list-style-type: square;
    font-family: 'Averia Serif Libre';
    color: black;
    margin-top: 10px;
}   


.ingredients{
    background-color: transparent;
    padding: 25px 0px;
    max-width: 100%;
    height: auto;
    overflow: hidden;
  
}


.ingredients img{
   height: 100%;
   width:150%;
   padding-right: 150px;
   padding-top: 10%;
}

.col-md-6 .ul-li{
    font-size: 18px;
}