h1{
    font-family:'Times New Roman', Times, serif;
   margin-left: 47%;
   color: white;
}
.forma{
    align-items: center;
    background-color: lightskyblue;
    width: 100%;
    height: 100vh;
}
.container {
  border: none;
    background-color: rgb(255, 255, 255);
    max-width: 800px;
    margin: 0 auto;
   
  }
  
  /* Style for form */
  form {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  /* Style for form group */
  .form-group {
    margin-bottom: 15px;
    font-family: 'Times New Roman', Times, serif;;
    font-weight: bold;
  }
  
  /* Style for label */
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  /* Style for input */
  input[
    type="text"] {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-weight: bold;
  }
  
  /* Style for button */
  button {
  
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  
  /* Style for primary button */
  .btn-primary {
    justify-content: space-between;
    background-color: #97b97f;
  }
  
  /* Style for warning button */
  .btn-warning {
    justify-content: space-between;
    background-color: #4c6fe1;
     margin-left: 5px;
  }
  
  /* Style for danger button */
  .btn-danger {
    background-color: #dc3545;
    margin-left: 3px;
  }
  
  /* Style for table */
  table {
    width: 100%;
    border: none;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
  }
  
  /* Style for table header */
  thead {
    background-color: lightskyblue;
    color: #fff;
  }
  
  /* Style for table header cells */
  th {
    padding: 10px;
    text-align: left;
  }
  
  /* Style for table body cells */
  td {
    padding: 10px;
    border: 1px solid #ddd;
  }